.container {
    height: 800px;
}

.left-side {
    width: 35%;
    border: solid 1px black;
}

.right-side {
    width: 65%;
    border: solid 1px black;
}

.info-customer {
    height: 20%;
}

.order-details {
    height: 80%;
}