.container {
    padding: 30px !important;
}

table {
    width: 80%;
}
  
.mat-mdc-form-field {
font-size: 14px;
width: 100%;
}

.icon {
    cursor: pointer;
}

button.add-employee {
    height: 45px
}