<div class="container">
  <header>
    <h1>Management System - The Pizza's King</h1>
  </header>

  <main>
    <div class="card" routerLink="/orders/place-order">
      <a>Place an Order</a>
    </div>
    <div class="card" routerLink="/products"><a>Products</a></div>
    <div class="card" routerLink="/clients"><a>Clients</a></div>
    <div class="card" routerLink="/orders">
      <a>Orders List</a>
    </div>
    <div class="card" routerLink="/employees">
      <a>Employees</a>
    </div>
  </main>
</div>
