<div class="container">
  <div class="d-flex flex-justify-between">
    <header>
      <h1>Management System - The Pizza's King</h1>
    </header>
    <div class="d-flex flex-items-center" (click)="logout()">
      <mat-icon
        aria-hidden="false"
        aria-label="logout icon"
        fontIcon="logout"
        class="icon mr-4px"
      ></mat-icon>
      <a>Logout</a>
    </div>
  </div>

  <main>
    <div class="card" routerLink="/orders/place-order">
      <a>Place an Order</a>
    </div>
    <div class="card" routerLink="/products"><a>Products</a></div>
    <div class="card" routerLink="/clients"><a>Clients</a></div>
    <div class="card" routerLink="/orders">
      <a>Orders List</a>
    </div>
    <div class="card" routerLink="/employees">
      <a>Employees</a>
    </div>
  </main>
</div>
